html
{
    height: 100%;
}

body
{
    background-image: url(imagens/imagem-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.introdução
{
    display: block;
    margin-top: 13%;
    margin-left: 8%;
    background-color: transparent;
    cursor: pointer;
    height: 44%;
    width: 30%;
    position: relative;
    z-index: 2;
}

.introdução_img
{
    text-align: left;
    margin-top: -35%;
    margin-left: 0%;
    z-index: 2;
}

.introdução_img img
{
    width: 43vw;
}

.fase1
{
    text-align: right;
    display: block;
    margin-top: -40%;
    margin-left: 66%;
    background-color: transparent;
    cursor: pointer;
    height: 30%;
    width: 18%;
    position: relative;
    z-index: 2;
}

.fase1_img
{
    text-align: right;
    margin-top: -22%;
    margin-right: 10%;
    z-index: 2;
}

.fase1_img img
{
    width: 30vw;
}

.fase2
{
    text-align: right;
    display: block;
    margin-top: -3%;
    margin-left: 66%;
    background-color: transparent;
    cursor: pointer;
    height: 30%;
    width: 18%;
    position: relative;
    z-index: 2;
}

.fase2_img
{
    text-align: right;
    margin-top: -25%;
    margin-right: 7%;
    z-index: 2;
}

.fase2_img img
{
    width: 33vw;
}