html
{
    height: 100%;
}

body
{
    background-image: url(imagens/imagem-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro1
{
    text-align: center;
    margin-top: -75%;
    margin-left: 5%;
    z-index: 2;
}

.intro1 img
{
    width: 90vw;
}

.voltar
{
    display: block;
    margin-top: 40%;
    margin-left: 11%;
    background-color: transparent;
    cursor: pointer;
    height: 20%;
    width: 12%;
    position: relative;
    z-index: 2;
}

.proximo
{
    display: block;
    margin-top: -20%;
    margin-left: 77%;
    background-color: transparent;
    cursor: pointer;
    height: 20%;
    width: 18%;
    position: relative;
    z-index: 2;
}