html
{
    height: 100%;
}

h1
{
    font-family: 'Finger Paint', cursive;
}

.imagem-container 
{
    position: relative;
    display: inline-block;
}

.imagem-container img 
{
    width: 40vw;
}


.imagem-container h1 
{
    position: absolute;
    top: 46%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #000000;
    font-size: 3.5vw;
}

body
{
    background-image: url(imagens/imagem-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    overflow: hidden;
}

.fase1
{
    margin-top: -10%;
    margin-left: 2%;
    position: relative;  /*permite uso de "top, left..."*/
    text-align: center;
}

.explicacao
{
    margin-top: -12%;
    margin-right: -2%;
    position: relative;  /*permite uso de "top, left..."*/
    text-align: center;
}

.voltar_img
{
    text-align: left;
    margin-top: -10%;
    margin-right: -3%;
    z-index: 2;
}

.voltar_img img
{
    width: 27vw;
}

.proximo_img
{
    text-align: right;
    margin-top: -31%;
    margin-right: 0%;
    z-index: 2;
}

.proximo_img img
{
    width: 26vw;
}

.voltar
{
    display: block;
    margin-top: -28%;
    margin-left: 2%;
    background-color: transparent;
    cursor: pointer;
    height: 15%;
    width: 25%;
    position: relative;
    z-index: 2;
}

.proximo
{
    display: block;
    margin-top: -7.5%;
    margin-left: 73%;
    background-color: transparent;
    cursor: pointer;
    height: 15%;
    width: 25%;
    position: relative;
    z-index: 2;
}