html
{
    height: 100%;
}

body
{
    background-image: url(imagens/imagem-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.centralizar
{
    text-align: right;
    margin-top: -9.5%;
    margin-right: 24%;
}

.centralizar img
{
    width: 40vw;
}

.jogar
{
    display: block;
    margin-top: -15%;
    margin-left: 9%;
    background-color: transparent;
    cursor: pointer;
    height: 46%;
    width: 25%;
    position: relative;
    z-index: 2;
}

.jogar_img
{
    text-align: left;
    margin-top: -35%;
    margin-left: 0%;
    z-index: 2;
}

.jogar_img img
{
    width: 43vw;
}

.opcoes
{
    display: block;
    margin-top: -20%;
    margin-left: 56%;
    background-color: transparent;
    cursor: pointer;
    height: 28%;
    width: 18%;
    position: relative;
    z-index: 2;
}

.opc_img
{
    text-align: right;
    margin-top: -24%;
    margin-right: 18%;
    z-index: 2;
}

.opc_img img
{
    width: 33vw;
}

.sair
{
    display: block;
    margin-top: -25%;
    margin-left: 80%;
    background-color: transparent;
    cursor: pointer;
    height: 28%;
    width: 18%;
    position: relative;
    z-index: 2;
}

.sair_img
{
    text-align: right;
    margin-top: -34%;
    margin-right: -7%;
    z-index: 2;
}

.sair_img img
{
    width: 33vw;
}