html
{
    height: 100%;
}

h1
{
    font-family: 'Finger Paint', cursive;
}

body
{
    background-image: url(imagens/imagem-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.centralizar
{
    top: -18%;
    left: 10%;
    position: relative;  /*permite uso de "top, left..."*/
    text-align: center;
}
.imagem-container 
{
    position: relative;
    display: inline-block;
}

.imagem-container img 
{
    width: 40vw;
}

.imagem-container h1 
{
    position: absolute;
    top: 46%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #000000;
    font-size: 3.5vw;
}


.jogar
{
    display: block;
    margin-top: -25%;
    margin-left: 9%;
    background-color: transparent;
    cursor: pointer;
    height: 46%;
    width: 25%;
    position: relative;
    z-index: 2;
}

.jogar_img
{
    text-align: left;
    margin-top: -35%;
    margin-left: 0%;
    z-index: 2;
}

.jogar_img img
{
    width: 43vw;
}

.opcoes
{
    display: block;
    margin-top: -18%;
    margin-left: 56%;
    background-color: transparent;
    cursor: pointer;
    height: 28%;
    width: 18%;
    position: relative;
    z-index: 2;
}

.opc_img h1
{
    top: 42%;
    left: 52%;
}

.opc_img
{
    text-align: right;
    margin-top: -24%;
    margin-right: 18%;
    z-index: 2;
}

.opc_img img
{
    width: 25vw;
}

.sair
{
    display: block;
    margin-top: -25%;
    margin-left: 80%;
    background-color: transparent;
    cursor: pointer;
    height: 28%;
    width: 18%;
    position: relative;
    z-index: 2;
}

.sair_img
{
    text-align: right;
    margin-top: -27%;
    margin-right: -7%;
    z-index: 2;
}

.sair_img h1
{
    top: 42%;
}

.sair_img img
{
    width: 25vw;
}